html {
  background-color: #AFACA7;
  font-family: "Arial", sans-serif;
  line-height: 1.5rem;
}

h1, h2 {
  font-weight: normal;
  font-size: 5rem;
  font style: normal;
  font-family: 'Changa One', cursive;
  color: #665E5E;
}

.planets {
  color: white;
}

nav {
  background-color: #665E5E;
  text-align: center; 
}


h2 {
  font-size: 3.5rem;
}

ol {
  list-style-type: none;
  padding: 0;


}

a {
  color: #493034;
}

.right {
  text-align: right;
  font-family: serif;
  font-size: .9rem;
}

.center {
  text-align: center;
  font-size: 2rem;
  font-family: serif;
  font-style: italic;
}
p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.romannums {
  list-style-type: lower-roman;
  padding: 20px;
}

.aa {
  font-style: italic;
}

dt {
  font-weight: bold;
}
